<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/users/profile.css"/>
        <link rel="stylesheet" href="/prism/prism.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit profile-header">
                <h1 class="username" th:text="${user.username()}"></h1>
                <div class="stats-profil">
                    <p class="stats-profil-item" th:text="${user.nbFollowed()} + ' followed'"></p>
                    <p class="stats-profil-item" th:text="${user.nbCode()} + ' codes'"></p>
                    <p class="stats-profil-item" th:text="${user.nbReview()} + ' reviews'"></p>
                    <p class="stats-profil-item" th:text="${user.nbComments()} + ' comments'"></p>
                </div>
                <a th:if="${auth != null && user.username().equals(auth.username())}" href="/password" class="button basic">Change Your Password</a>
                <form th:if="${auth != null && !user.username().equals(auth.username()) && !user.isFollowed()}"
                      th:action="@{/users/follow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Follow</button>
                </form>
                <form th:if="${auth != null &&  !user.username().equals(auth.username()) && user.isFollowed()}"
                      th:action="@{/users/unfollow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Unfollow</button>
                </form>
            </div>

            <div class="container limit">
                <h2 class="content-title">Followed:</h2>
                <div th:each="followed : ${followedPageInformation.users()}" class="followed-list">
                    <div>
                        <a th:href="${followed.username()}" th:text="${followed.username()}"/>
                    </div>
                </div>
                <form th:action="@{'/users/' + ${user.username}}" method="get">
                    <input type="hidden" name="codePageNumber" th:value="${codePageInformation.pageNumber()}" />
                    <input type="hidden" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber()}" />
                    <input type="hidden" name="commentPageNumber" th:value="${commentPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${followedPageInformation.pageNumber() > 0}" type="submit" name="followedPageNumber" th:value="${followedPageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${followedPageInformation.pageNumber() < followedPageInformation.maxPageNumber()}" type="submit" name="followedPageNumber" th:value="${followedPageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Codes:</h2>
                <div th:each="code : ${codePageInformation.codes()}">
                    <div th:replace="codes/codePreview :: codePreview"></div>
                </div>
                <form th:action="@{'/users/' + ${user.username}}" method="get">
                    <input type="hidden" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber()}" />
                    <input type="hidden" name="commentPageNumber" th:value="${commentPageInformation.pageNumber()}" />
                    <input type="hidden" name="followedPageNumber" th:value="${followedPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${codePageInformation.pageNumber() > 0}" type="submit" name="codePageNumber" th:value="${codePageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${codePageInformation.pageNumber() < codePageInformation.maxPageNumber()}" type="submit" name="codePageNumber" th:value="${codePageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Reviews:</h2>
                <div th:each="review : ${reviewPageInformation.reviews()}">
                    <div th:replace="reviews/reviewPreview :: reviewPreview"></div>
                </div>
                <form th:action="@{'/users/' + ${user.username}}" method="get">
                    <input type="hidden" name="codePageNumber" th:value="${codePageInformation.pageNumber()}" />
                    <input type="hidden" name="commentPageNumber" th:value="${commentPageInformation.pageNumber()}" />
                    <input type="hidden" name="followedPageNumber" th:value="${followedPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${reviewPageInformation.pageNumber() > 0}" type="submit" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${reviewPageInformation.pageNumber() < reviewPageInformation.maxPageNumber()}" type="submit" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Comments:</h2>
                <div th:each="comment : ${commentPageInformation.comments()}">
                    <div th:replace="comments/commentPreview :: commentPreview"></div>
                </div>
                <form th:action="@{'/users/' + ${user.username}}" method="get">
                    <input type="hidden" name="codePageNumber" th:value="${codePageInformation.pageNumber()}" />
                    <input type="hidden" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber()}" />
                    <input type="hidden" name="followedPageNumber" th:value="${followedPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${commentPageInformation.pageNumber() > 0}" type="submit" name="commentPageNumber" th:value="${commentPageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${commentPageInformation.pageNumber() < commentPageInformation.maxPageNumber()}" type="submit" name="commentPageNumber" th:value="${commentPageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
        </div>
    </body>
</html>
<script src="/prism/prism.js"></script>
<script>
    document.querySelectorAll('.code-container').forEach(codeContainer => {
        const codeElement = codeContainer.querySelector('.language-java');
        const codeContent = codeElement.getAttribute('data-code');
        codeElement.textContent = codeContent;
    });
</script>
<script src="/markdown-it/markdown-it.min.js"></script>
<script>
    var md = window.markdownit();
    var divs = document.getElementsByClassName('markdown');
    for (var i = 0; i < divs.length; i++) {
        if (!divs[i].hasAttribute('data-rendered')) {
            var content = divs[i].innerHTML;
            divs[i].innerHTML = md.render(content);
            divs[i].setAttribute('data-rendered', 'true');
        }
    }
</script>