<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/users/profile.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit profile-header">
                <h1 class="username" th:text="${user.username()}"></h1>
                <p th:if="${user.isAdmin()}" th:text="'is admin :^)'"></p>
                <div class="stats-profil">
                    <p class="stats-profil-item" th:text="${user.followed().size()} + ' followed'"></p>
                    <p class="stats-profil-item" th:text="${codesFromUser.size()} + ' codes'"></p>
                    <p class="stats-profil-item" th:text="${reviewsFromUser.size()} + ' reviews'"></p>
                    <p class="stats-profil-item" th:text="${commentsFromUser.size()} + ' comments'"></p>
                </div>
                <a th:if="${auth != null && user.username().equals(auth.username())}" href="/password" class="button basic">Change Your Password</a>
                <form th:if="${auth != null && !user.username().equals(auth.username()) && !auth.allFollowedName().contains(user.username())}"
                      th:action="@{/users/follow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Follow</button>
                </form>
                <form th:if="${auth != null &&  !user.username().equals(auth.username()) && auth.allFollowedName().contains(user.username())}"
                      th:action="@{/users/unfollow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Unfollow</button>
                </form>
            </div>

            <div class="container limit">
                <h2 class="content-title">Followed:</h2>
                <ul th:each="followed : ${user.followed()}" class="followed-list">
                    <li>
                        <a th:href="${followed.username()}" th:text="${followed.username()}"/>
                    </li>
                </ul>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Codes:</h2>
                <div th:each="code : ${codesFromUser}">
                    <div th:replace="codes/codePreview :: codePreview"></div>
                </div>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Reviews:</h2>
                <div th:each="review : ${reviewsFromUser}">
                    <div th:replace="reviews/reviewPreview :: reviewPreview"></div>
                </div>
            </div>
            <div class="container limit">
                <h2 class="content-title" >Comments:</h2>
                <div th:each="comment : ${commentsFromUser}">
                    <div th:replace="comments/commentPreview :: commentPreview"></div>
                </div>
            </div>
        </div>
    </body>
</html>