<div th:fragment="create(url, oldContentReview)">
    <form th:action="${url}" th:object="${reviewForm}" method="post" enctype="multipart/form-data" id="postForm">
        <div class="form-group">
            <label for="title-input">Title:</label>
            <input type="text" id="title-input" name="title" th:field="*{title}" placeholder="Enter your title" required>
        </div>
        <div id="dynamicFields">
            <!-- Les nouveaux champs seront ajoutés ici -->
        </div>
        <button type="button" class="button other" onclick="addTextField()">Add a field</button>
        <div th:each="comment:${oldContentReview.reviewContent()}">
            <div class="container">
                <div th:data-comment-content="${comment.content}" th:data-comment-selection="${comment.codeSelection}" onclick="addContent(this)">
                    <pre th:if="${comment.codeSelection != null && comment.codeSelection != ''}" th:text="${comment.codeSelection}"></pre>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>
        </div>
        <button type="submit" class="button basic">Review</button>
    </form>
    <script src="/script/addReviewContent.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            addTextField();
        });
    </script>
</div>
