<div th:fragment="reviewPreview" class="container">
    <p class="stats left" th:text="'score: ' + ${review.score()}"></p>
    <p class="stats left" th:text="'reviews: '+ ${review.reviews()}"></p>
    <p class="stats left" th:text="'comments: ' + ${review.comments()} "></p>
    <div class ="author right">
        <a th:href="'/users/' + ${review.userInformation().username()}" th:text="${review.userInformation().username()}"></a>
    </div>
    <a th:href="'/reviews/' + ${review.id()}">
        <h2 class ="title post-content" th:text="${review.title()}"></h2>
        <p class="date right" th:text="${review.date()}"></p>
    </a>
</div>
