<div th:fragment="reviewPreview" class="container">
    <p class="stats left" th:text="'score: ' + ${review.score()}"></p>
    <p class="stats left" th:text="'reviews: '+ ${review.reviews()}"></p>
    <p class="stats left" th:text="'comments: ' + ${review.comments()} "></p>
    <div class ="author right">
        <a th:href="'/users/' + ${review.userInformation().username()}" th:text="${review.userInformation().username()}"></a>
    </div>
    <a th:href="'/reviews/' + ${review.id()}">
        <h2 class ="title" th:text="${review.title()}"></h2>
<!--        <div class ="description" th:each="contentReview : ${review.content()}">-->
<!--            <pre th:if="${contentReview.codeSelection() != null}"><code class="language-java" th:text="${contentReview.codeSelection}"></code></pre>-->
<!--            <p class="markdown description" th:text="${contentReview.content}"></p>-->
<!--        </div>-->
        <p class="date right" th:text="${review.date()}"></p>
    </a>
</div>