<div th:fragment="reviewPreview" class="container limit home">
    <p class="stats left" th:text="'score: ' + ${code.score()}"></p>
    <p class="stats left" th:text="'reviews: '+ ${code.reviews().size()}"></p>
    <p class="stats left" th:text="'comments: ' + ${code.comments().size()} "></p>
    <div class ="author right">
        <a th:href="'/users/' + ${review.userInformation().username()}" th:text="${review.userInformation().username()}"></a>
    </div>
    <a th:href="'/reviews/' + ${review.id()}">
        <h2 class ="title" th:text="${review.title()}"></h2>
        <p class ="description" th:text="${review.content()}"></p>
        <p class="date right" th:text="${review.date()}"></p>
    </a>
</div>