<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container">
    <p th:text="${user.getUsername()}"></p>
    <a th:if="${auth != null && user.getUsername().equals(auth.getUsername())}" th:href="'/password'" class="basic-button right">Update Password</a>
</div>
</body>
</html>