<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/users/profile.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div th:if="${auth != null}" class="main">
            <div class="container limit profile-header">
                <h1 class="username" th:text="${user.username()}"></h1>
                <p th:text="${user.followed().size()} + ' followed'"></p>
                <a th:if="${user.username().equals(auth.username())}" href="/password" class="button basic">Change Your Password</a>
                <form th:if="${!user.username().equals(auth.username()) && !auth.allFollowedName().contains(user.username())}"
                      th:action="@{/follow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Follow</button>
                </form>
                <form th:if="${!user.username().equals(auth.username()) && auth.allFollowedName().contains(user.username())}"
                      th:action="@{/unfollow/{username}(username=${user.username()})}" th:method="post">
                    <button type="submit" class="button basic">Unfollow</button>
                </form>
            </div>

            <div class="container limit">
                <h2 class="content-title">Followed:</h2>
                <ul th:each="followed : ${user.followed()}" class="followed-list">
                    <li>
                        <a th:href="${followed.username()}" th:text="${followed.username()}"/>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>