<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/users/auth.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="container auth-limit main">
            <form th:action="@{/signup}" th:object="${signupForm}" method="post">
                <div class="txt_field">
                    <input id="l" type="text" name="username" placeholder="Username" th:field="*{username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">
                </div>
                <div class="txt_field">
                    <input type="password" id="p" name="password" placeholder="Password" th:field="*{password}">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">
                </div>
                <div class="txt_field">
                    <input type="password" id="c" name="confirmPassword" placeholder="Confirm Password" th:field="*{confirmPassword}">
                    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger">
                </div>
                <input class="button basic auth" name="submit" type="Submit" value="Sign Up">
                <div class="link">
                    Already have an account ? <a href="/login">Login Here</a>
                </div>
            </form>
        </div>
    </body>
</html>