<div th:fragment="codeFragment(code)" class="code-container">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/code.css" />
    <link rel="stylesheet" href="/prism/prism.css">

    <div>
        <h2 class ="title" th:text="${code.getTitle()}"></h2>
        <div class ="author">
            <p>from </p>
            <a th:href="'users/' + ${code.getUser().getUsername()}" th:text="${code.getUser().getUsername()}"></a>
        </div>
    </div>
    <div class ="post">
        <div class ="votes"> <!-- pour plus tard -->
            <button class="vote-btn upvote-btn" th:onclick="">▲</button>
            <p th:text="69"></p>
            <button class="vote-btn upvote-btn" th:onclick="">▼</button>
        </div>
        <div class ="content"> <!-- content -->
            <p th:text="${code.getDescription()}"></p>
            <pre><code class="language-java" id="java-code" th:data-code="${code.getJavaContent()}"></code></pre>
            <pre th:if="${code.getUnitContent() != null}"><code class="language-java" th:text="${code.getUnitContent()}"></code></pre>

        </div>
    </div>
    <script src="/prism/prism.js"></script>

    <script th:inline="javascript">

   function displayCode(codeElementId, codeDataAttribute) {
            var codeElement = document.getElementById(codeElementId);
            var codeContent = codeElement.getAttribute(codeDataAttribute);
            codeElement.textContent = codeContent;
            Prism.highlightElement(codeElement);
        }

        // Appel à la fonction avec les informations de l'objet code
        displayCode('java-code', 'data-code');

</script>
</div>




