<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title th:text="${code.title()}"></title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/codes/codeReview.css" />
        <link rel="stylesheet" href="/prism/prism.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit">
                <div th:replace="codes/code :: codeFragment(code=${code})"></div>
            </div>
        </div>
    </body>
</html>
