<div th:fragment="codeFragment(code)" class="code-container">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/code.css" />
    <link rel="stylesheet" href="/prism/prism.css">

    <div>
        <h2 class ="title" th:text="${code.getTitle()}"></h2>
        <div class ="author">
            <p>from </p>
            <a th:href="'users/' + ${code.getUser().getUsername()}" th:text="${code.getUser().getUsername()}"></a>
        </div>
    </div>
    <div class ="post">
        <div class ="votes"> <!-- pour plus tard -->
            <form th:action="@{/codes/vote/{codeId}(codeId=${code.getId()})}" name="vote" id="vote" th:method="post">
                <button class="vote-btn upvote-btn" type="submit" name="voteType" value="UpVote" >▲</button>
                <p th:text="${code.getScoreVote()}"></p>
                <button class="vote-btn downvote-btn" type="submit" name="voteType" value="DownVote">▼</button>
            </form>

            <!--
            <form name="vote" id="vote" th:data-code-id="${code.getId()}">
                <button class="vote-btn upvote-btn" type="button" name="voteType" value="UpVote">▲</button>
                <p class="vote-score" th:text="${code.getScoreVote()}"></p>
                <button class="vote-btn downvote-btn" type="button" name="voteType" value="DownVote">▼</button>
            </form>
            -->

        </div>
        <div class ="content"> <!-- content -->
            <p th:text="${code.getDescription()}"></p>
            <pre><code class="language-java" id="java-code" th:data-code="${code.getJavaContent()}"></code></pre>
            <pre th:if="${code.getUnitContent() != null}"><code class="language-java" th:text="${code.getUnitContent()}"></code></pre>

        </div>
    </div>
    <script src="/prism/prism.js"></script>

    <script th:inline="javascript">

        function displayCode(codeElementId, codeDataAttribute) {
            var codeElement = document.getElementById(codeElementId);
            var codeContent = codeElement.getAttribute(codeDataAttribute);
            codeElement.textContent = codeContent;
            Prism.highlightElement(codeElement);
        }
        displayCode('java-code', 'data-code');

        document.querySelectorAll('.vote-btn').forEach(button => {
            button.addEventListener('click', function() {
                const form = this.closest('form');
                const codeId = form.getAttribute('data-code-id');
                const voteType = this.value;

                fetch('api/v1/codes/vote/' + codeId + '?voteType=' + voteType, {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        // Mettre à jour la valeur du score de vote
                        const scoreElement = form.querySelector('.vote-score');
                        scoreElement.textContent = data;
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

    </script>
</div>