<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Codes Post</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/code.css" />
    <link rel="stylesheet" href="/prism/prism.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container">    <div class="center">
        <form th:action="@{/codes/create}" th:object="${code}" method="post"  enctype="multipart/form-data">
            <!--
            <div><label for="title-input">Your title :</label>
                <input type="text" id="title-input" name="title" th:field="*{title}">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>
            <div><label for="description-input">Your description :</label>
                <input type="text" id="description-input" name="description" th:field="*{description}">
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
            -->
            <input type="file" id="java-file-input" name="javaFile" accept=".java"/>
            <pre><code id="java-code" name="java" class="language-java"></code></pre>
            <input type="file" id="unit-file-input" name="unitFile" accept=".java"/>
            <pre><code id="unit-code" name="unit" class="language-java"></code></pre>
            <button type="submit">Submit</button>
        </form>


    </div>
</div>
<script src="/prism/prism.js"></script>
<script>

    function setupFileInput(fileInputId, codeElementId) {
        document.getElementById(fileInputId).addEventListener('change', function (e) {
            var file = e.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var codeElement = document.getElementById(codeElementId);
                    codeElement.textContent = e.target.result;
                    Prism.highlightElement(codeElement);
                };
                reader.readAsText(file);
            }
        });
    }
    setupFileInput('java-file-input', 'java-code');
    setupFileInput('unit-file-input', 'unit-code');


</script>

</body>
</html>
