input[type="file"] {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    margin: 20px;
}

.code-container {
    background-color: #f5f5f5; /* Couleur légèrement différente pour differencier le contenaire avec le reste */
    padding: 10px;
 }

 .title {
    color: #333; /* Couleur du titre */
 }

 .author {
    padding : 5px;
    display: flex;
    text-align: center;
 }
.author p {
    margin : 0px;
    padding-right : 5px;
 }

 .author a {
    color: inherit; /* Utilise la couleur par défaut pour les liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold;
    font-size:125%;
 }

 .post {
    display: flex;
    border-top: 1px solid #ccc;
 }

 .votes {
    display: block;
    padding-top: 5px;
    text-align: center;
    padding-right: 5px;
 }

 .vote-btn {
     width: 30px;
     height: 30px;
     border-radius: 50%; /* Crée un bouton de forme circulaire */
     background-color: #fff;
     border: 1px solid #ddd;
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease; /* Animation de transition de couleur */
 }

 .vote-btn:hover {
     background-color: #cccccc; /* Couleur au survol */
 }

 .content {
    clear: both; /* S'assurer que le contenu ne chevauche pas les éléments flottants */
 }