body{
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    background-size: cover;
    background: #f3efef no-repeat;
}

.button{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button.basic {
    border: 2px solid #3498db;
    color: #fff;
    background-color: #3498db;
}

.button.basic:hover {
    background-color: #fff;
    color: #3498db;
}

.button.other{
    border: 1px solid #999;
    color: #999;
    background-color: #ffffff;
}

.button.other:hover{
    background-color: #e5e5e5;
}

.container{
    padding: 20px;
    max-width: 100%;
    margin: 10px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right{
    float: right;
}

.left{
    float: left;
}

.text-danger {
    color: #dc3545;
    font-size: 80%;
}

.main{
    margin-top:65px;
}

.container.limit {
    max-width: 50%;
}
