body{
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    background-size: cover;
    background: #eeeeee no-repeat;
    height: 100vh;
    overflow: hidden;
}

.basic-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.basic-button:hover {
    background-color: #fff;
    color: #3498db;
}

.right{
    float: right;
}

.left{
    float: left;
}

.text-danger {
    color: #dc3545;
    font-size: 80%;
}