<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="grid-container">
        <div class="item1"><div th:replace="navbar :: navbar"></div></div>
        <div class="item2"></div>
        <div class="item3">
            <div class="first-row">
                <a th:if="${auth != null}" th:href="'codes/create'" class="basic-button right">Post Code</a>
            </div>
            <div th:each="code : ${codes}" class="row">
                <div th:replace="codes/code :: codeFragment(code=${code})"></div>
            </div>
        </div>
        <div class="item4"></div>
        <div class="item5"><div th:replace="footer :: footer"></div></div>
    </div>
    <script src="/prism/prism.js"></script>

    <script>
        document.querySelectorAll('.code-container').forEach(codeContainer => {
            const codeElement = codeContainer.querySelector('.language-java');
            const codeContent = codeElement.getAttribute('data-code');
            codeElement.textContent = codeContent;
        });

        document.querySelectorAll('.vote-btn').forEach(button => {
            button.addEventListener('click', function() {
                const form = this.closest('form');
                const codeId = form.getAttribute('data-code-id');
                const voteType = this.value;
                fetch('api/v1/codes/vote/' + codeId + '?voteType=' + voteType, {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        const scoreElement = form.querySelector('.vote-score');
                        scoreElement.textContent = data;
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
</body>
</html>

