<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="grid-container">
        <div class="item1"><div th:replace="navbar :: navbar"></div></div>
        <div class="item2"></div>
        <div class="item3">
            <div class="first-row">
                <a th:if="${auth != null}" th:href="'codes/create'" class="basic-button right">Post Code</a>
            </div>
            <!--
                <div th:each="code : ${codes}" th:href="@{/}" class="row">
                    <a th:href="'users/' + ${code.getUser().getUsername()}" th:text="${code.getUser().getUsername()}"></a>
                    <pre><code class="language-java" th:text="${code.getJavaContent()}"></code></pre>
                </div>
                -->
            <div th:each="code : ${codes}" class="row">
                <div th:replace="codes/code :: codeFragment(code=${code})"></div>
            </div>
        </div>
        <div class="item4"></div>
        <div class="item5"><div th:replace="footer :: footer"></div></div>
    </div>

    <!--
    <div class="container">
        <div class="first-row">
            <div th:replace="navbar :: navbar"></div>
        </div>
        <div class="row">
            <div class="column"></div>
            <div class="column middle">
                <div class="first-row">
                    <a th:if="${auth != null}" th:href="'codes/create'" class="basic-button right">Post Code</a>
                </div>
                <div th:each="code : ${codes}" th:href="@{/}" class="row">
                    <a th:href="'users/' + ${code.getUser().getUsername()}" th:text="${code.getUser().getUsername()}"></a>
                    <pre><code class="language-java" th:text="${code.getJavaContent()}"></code></pre>
                </div>
                <div th:each="code : ${codes}" class="row">
                    <div th:replace="codes/code :: codeFragment(code=${code})"></div>
                </div>
                <div th:replace="footer :: footer"></div>
            </div>
            <div class="column"></div>
        </div>
    </div>
                -->
</body>
</html>