<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Log in</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <div>
            <label for="l">Username:</label>
            <input id="l" type="text" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        </div>
        <div>
            <label for="p">Password:</label>
            <input type="password" id="p" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</body>
</html>