
<div th:fragment="navbar" class="navbar">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <nav>
        <ul>

            <li><a href="/">UGEReveVue</a></li>
            <li><form th:action="@{/}" method="get">
                <input name="q" type="search" placeholder="Search...">
            </form></li>
            <li th:if="${auth == null}"><a th:href="'signup'" role="button">Sign up</a></li>
            <li th:if="${auth == null}"><a th:href="'login'" role="button">Log in</a></li>
            <li th:if="${auth != null}"><a th:href="'/users/' + ${auth.username}" th:text="${auth.username}"></a></li>
            <li th:if="${auth != null}"><a th:href="'logout'" role="button">Log out</a></li>
        </ul>
    </nav>
</div>
