<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title th:text="${code.title()}"></title>
        <link rel="stylesheet" href="/css/style.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit">
                <div th:replace="codes/code :: codeFragment(code=${code})"></div>
                <div th:each="comment:${commentPageInformation.comments()}">
                    <div class="container comment">
                        <div th:replace="comments/comment :: commentFragment(comment=${comment})"></div>
                    </div>
                </div>
                <form th:action="@{'/codes/' + ${code.id()}}" method="get">
                    <input type="hidden" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${commentPageInformation.pageNumber() > 0}" type="submit" name="commentPageNumber" th:value="${commentPageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${commentPageInformation.pageNumber() < commentPageInformation.maxPageNumber()}" type="submit" name="commentPageNumber" th:value="${commentPageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
            <div th:if="${auth != null}" class="container limit">
                <div class="edit-zone">
                    <button class="button other" onclick='getSelectedCode()'>Add selected code</button>
                    <button class="button other" onclick='deleteSelectedCode()'>Delete selected code</button>
                    <form th:action="@{/codes/comment/{codeId}(codeId=${code.id()})}" th:object="${commentForm}" method="post">
                        <input type="hidden" id="codeSelection" name="codeSelection" th:field="*{codeSelection}">
                        <pre><code id="preCodeSelection" name="preCodeSelection" class="language-java java-code"></code></pre>
                        <textarea id="content" name="content" th:field="*{content}" required></textarea>
                        <button type="submit" class="button basic">Comment</button>
                    </form>
                </div>
            </div>
            <div class="container limit">
                <h2 th:text="${reviewPageInformation.resultNumber() == 1 ? '1 Review' : reviewPageInformation.resultNumber() + ' Reviews'}"></h2>
                <div th:each="review:${reviewPageInformation.reviews()}">
                    <div class="container review-post">
                        <div>
                            <p class="stats left" th:text="'reviews: '+ ${review.reviews()}"></p>
                            <p class="stats left" th:text="'comments: ' + ${review.comments()} "></p>
                        </div>
                        <div th:replace="reviews/review :: reviewFragment(review=${review})"></div>
                    </div>
                </div>
                <form th:action="@{'/codes/' + ${code.id()}}" method="get">
                    <input type="hidden" name="commentPageNumber" th:value="${commentPageInformation.pageNumber()}" />
                    <button class="button other" th:if="${reviewPageInformation.pageNumber() > 0}" type="submit" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber() - 1}">Previous Page</button>
                    <button class="button other" th:if="${reviewPageInformation.pageNumber() < reviewPageInformation.maxPageNumber()}" type="submit" name="reviewPageNumber" th:value="${reviewPageInformation.pageNumber() + 1}">Next Page</button>
                </form>
            </div>
            <div th:if="${auth != null}">
                <div th:replace="reviews/create :: create(url=@{/codes/review/{codeId}(codeId=${code.id()})}, oldContentReview=${oldContentsReview})"></div>
            </div>
        </div>
        <script src="/script/vote.js"></script>
        <script src="/script/selectCode.js"></script>
        <script src="/script/colorCode.js"></script>
        <script src="/script/showMarkdown.js"></script>
        <script>
            colorCode()
            markdown()
            votePost(`[[${auth}]]`);
        </script>
    </body>
</html>