<div th:fragment="codeFragment(code)">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/posts/post.css" />
    <link rel="stylesheet" href="/prism/prism.css">
    <div>
        <h2 class ="title" th:text="${code.title()}"></h2>
        <div class ="author">
            <p>from: </p>
            <a th:href="'/users/' + ${code.userInformation().username()}" th:text="${code.userInformation().username()}"></a>
        </div>
        <p class="date right post-date" th:text="${code.date()}"></p>
    </div>
    <div class ="post">
        <div class ="resize">
            <div class ="buttons">
                <div class ="votes">
                    <form name="vote" id="vote" th:data-code-id="${code.id()}">
                        <button class="btn vote-btn upvote-btn" type="button" name="voteType" value="UpVote">▲</button>
                        <p class="vote-score" th:text="${code.score()}"></p>
                        <button class="btn vote-btn downvote-btn" type="button" name="voteType" value="DownVote">▼</button>
                    </form>
                </div>
                <form th:if="${auth != null && auth.isAdmin()}" name="delete" id="delete" th:data-code-id="${code.id()}">
                    <button class="btn delete-btn" type="button" name="voteType" value="UpVote">🗑</button>
                </form>
            </div>
            <div class ="content">
                <p class="description" th:text="${code.description()}"></p>
                <pre><code id="codeBlock" class="language-java java-code" th:data-code="${code.javaContent()}"></code></pre>
                <pre th:if="${code.unitContent() != null}"><code class="language-java" th:text="${code.unitContent()}"></code></pre>
                <div th:if="${code.unitContent() != null}">
                    <p th:text="'Total: ' + ${code.testResultsInformation.testsTotalCount}"> </p>
                    <p th:text="'Success: ' + ${code.testResultsInformation.testsSucceededCount}"></p>
                    <p th:text="'Failed: ' + ${code.testResultsInformation. testsFailedCount}"></p>
                    <p th:text="'Time: ' + ${code.testResultsInformation.testsTotalTime}"></p>
                    <p th:if="${code.testResultsInformation.failures != ''}" >Failures :</p>
                    <pre th:if="${code.testResultsInformation.failures != ''}"><code id="codeBlock" class="failure language-java java-code" th:text="${code.testResultsInformation.failures}"></code></pre>
                </div>

            </div>
        </div>
    </div>
    <script src="/prism/prism.js"></script>
    <script>
        const codeElement = document.querySelector('.language-java')
        const codeContent = codeElement.getAttribute('data-code');
        codeElement.textContent = codeContent;

        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', function() {
                const form = this.closest('form');
                const codeId = form.getAttribute('data-code-id');
                const voteType = this.value;
                console.log("delete id " + codeId);
                fetch('../api/v1/codes/' + codeId , {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to delete code');
                        }
                        const contentType = response.headers.get('content-type');
                        if (contentType && contentType.includes('application/json')) {
                            return response.json();
                        } else {
                            return null;
                        }
                    })
                    .then(data => {
                        if (data !== null) {
                            console.log('Code deleted successfully:', data);
                        } else {
                            console.log('Code deleted successfully, no JSON data returned');
                        }
                        showNotification('Code deleted.');
                        window.location.href = '/';
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

        function showNotification(message, type = 'success') {
            if (!('Notification' in window)) {
                console.error('This browser does not support notifications.');
                return;
            }

            if (Notification.permission !== 'granted') {
                Notification.requestPermission().then(permission => {
                    if (permission === 'granted') {
                        displayNotification();
                    }
                });
            } else {
                displayNotification();
            }

            function displayNotification() {
                const notification = new Notification('Notification', {
                    body: message,
                    icon: ''
                });
            }
        }

    </script>

</div>