<div th:fragment="codePreview" class="container limit home">
    <p class="stats left" th:text="'score: ' + ${code.score()}"></p>
    <p class="stats left" th:text="'reviews: '+ ${code.reviews()}"></p>
    <p class="stats left" th:text="'comments: ' + ${code.comments()} "></p>
    <div class ="author right">
        <a th:href="'/users/' + ${code.userInformation().username()}" th:text="${code.userInformation().username()}"></a>
    </div>
    <a th:href="'/codes/' + ${code.id()}">
        <h2 class ="title" th:text="${code.title()}"></h2>
        <p class ="description" th:text="${code.description()}"></p>
        <p class="date right" th:text="${code.date()}"></p>
    </a>
</div>