<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Codes Post</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/posts/create.css" />
        <link rel="stylesheet" href="/prism/prism.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit">
                <form th:action="@{/codes/create}" th:object="${codeForm}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title-input">Title:</label>
                        <input type="text" id="title-input" name="title" th:field="*{title}" placeholder="Enter your title" required>
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="description-input">Description:</label>
                        <textarea id="description-input" name="description" th:field="*{description}" placeholder="Enter your description" required></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="java-file-input">Upload Java File:</label>
                        <input type="file" id="java-file-input" name="javaFile" th:field="*{javaFile}" accept=".java" required>
                        <p th:if="${#fields.hasErrors('javaFile')}" th:errors="*{javaFile}" class="text-danger"></p>
                        <pre><code id="java-code" name="java" class="language-java"></code></pre>
                    </div>
                    <div class="form-group">
                        <label for="unit-file-input">Upload Unit File:</label>
                        <input type="file" id="unit-file-input" name="unitFile" th:field="*{unitFile}" accept=".java">
                        <p th:if="${#fields.hasErrors('unitFile')}" th:errors="*{unitFile}" class="text-danger"></p>
                        <pre><code id="unit-code" name="unit" class="language-java"></code></pre>
                    </div>
                    <button type="submit" class="button basic">Post</button>
                </form>
            </div>
        </div>
        <script src="/script/colorCode.js"></script>
        <script>
            setupFileInput('java-file-input', 'java-code');
            setupFileInput('unit-file-input', 'unit-code');
        </script>
    </body>
</html>