<div th:fragment="commentFragment(comment)">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/posts/post.css" />
    <link rel="stylesheet" href="/prism/prism.css">
    <div>
        <div class ="author">
            <a th:href="'/users/' + ${comment.userInformation().username()}" th:text="${comment.userInformation().username()}"></a>
        </div>
        <form th:if="${auth != null && auth.isAdmin()}" name="delete" id="delete"
              th:data-comment-id="${comment.id()}">
            <button class="btn delete-btn" type="button" name="voteType" value="UpVote">🗑</button>
        </form>
        <pre th:if="${comment.codeSelection != null && comment.codeSelection != ''}" ><code th:text="${comment.codeSelection()}"></code></pre>
        <p class="markdown message" th:text="${comment.content()}"></p>
        <p class="date right" th:text="${comment.date()}"></p>
    </div>
    <script src="/script/colorCode.js"></script>
    <script src="/script/showMarkdown.js"></script>
    <script src="/script/delete.js"></script>
    <script>
        colorCode()
        markdown()
        del('/api/v1/comments/', 'data-comment-id', 'Comment deleted.', reload)
    </script>
</div>