<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="main">
        <div class="container limit option">
            <div>
                <p class="text-title left">Moderation page</p>
            </div>
            <p class="result left" th:text="${userPageInformation.resultNumber() == 1 ? '1 user registered' : userPageInformation.resultNumber() + ' registered users'} "></p>
        </div>
        <div class="container limit home">
            <div th:each="user : ${userPageInformation.users()}">
                <div class="main-info">
                    <h2 class ="title">
                        <a th:href="'/users/' + ${user.username()}" th:text="${user.username()}"></a>
                    </h2>
                    <form name="delete" id="delete" th:data-user-username="${user.username()}">
                        <button class="btn delete-btn" type="button" name="voteType" value="UpVote">🗑</button>
                    </form>
                    <p class="stats left" th:text="'followed: ' + ${user.nbFollowed()}"></p>
                    <p class="stats left" th:text="'codes: ' + ${user.nbCode()}"></p>
                    <p class="stats left" th:text="'reviews: ' + ${user.nbReview()}"></p>
                    <p class="stats left" th:text="'comments: ' + ${user.nbComments()}"></p>
                </div>
            </div>
            <form th:action="@{/admin}" method="get">
                <button class="button other" th:if="${userPageInformation.pageNumber()} > 0" type="submit" th:name="pageNumber" th:value="${userPageInformation.pageNumber()-1}">Previous Page</button>
                <button class="button other" th:if="${userPageInformation.pageNumber()} < ${userPageInformation.maxPageNumber()}" type="submit" th:name="pageNumber" th:value="${userPageInformation.pageNumber()+1}">Next Page</button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="/script/delete.js"></script>
<script src="/script/notification.js"></script>
<script>
    del('/api/v1/users/', 'data-user-username', 'User deleted.', backToAdmin)
</script>