<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="main">
        <div class="container limit option">
            <div>
                <p class="text-title left">Moderation page</p>
            </div>
            <p class="result left" th:text="${users.size() == 0 ? '0 users WTF !?' : users.size() + ' registered users'} "></p>
        </div>
        <div class="container limit home">
            <div th:each="user : ${users}">
                <div class="main-info">
                    <h2 class ="title">
                        <a th:href="'/users/' + ${user.username()}" th:text="${user.username()}"></a>
                    </h2>
                    <form name="delete" id="delete" th:data-user-id="${user.id()}">
                        <button class="btn delete-btn" type="button" name="voteType" value="UpVote">🗑</button>
                    </form>
                    <p class="stats left" th:text="'followed: ' + ${user.followed.size()}"></p>
                    <p class="stats left" th:text="'codes: ' + ${codesByUser.get(user)}"></p>
                    <p class="stats left" th:text="'reviews: ' + ${reviewsByUser.get(user)}"></p>
                    <p class="stats left" th:text="'comments: ' + ${commentsByUser.get(user)}"></p>
                </div>
            </div>
            <form th:action="@{/admin}" method="get">
                <button class="left button other" th:if="${pageNumber} > 0" type="submit" th:name="pageNumber" th:value="${pageNumber-1}">Previous Page</button>
                <button class="right button other" th:if="${pageNumber} < ${maxPageNumber}" type="submit" th:name="pageNumber" th:value="${pageNumber+1}">Next Page</button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="/prism/prism.js"></script>
<script>

    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function() {
            const form = this.closest('form');
            const userId = form.getAttribute('data-user-id');
            const voteType = this.value;
            console.log("delete id " + userId);
            fetch('../api/v1/users/delete/' + userId , {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to delete user');
                    }
                    const contentType = response.headers.get('content-type');
                    if (contentType && contentType.includes('application/json')) {
                        return response.json();
                    } else {
                        return null;
                    }
                })
                .then(data => {
                    if (data !== null) {
                        console.log('User deleted successfully:', data);
                    } else {
                        console.log('User deleted successfully, no JSON data returned');
                    }
                    showNotification('User deleted.');
                    window.location.href = '/admin';
                })
                .catch(error => console.error('Error:', error));
        });
    });

    function showNotification(message, type = 'success') {
        if (!('Notification' in window)) {
            console.error('This browser does not support notifications.');
            return;
        }

        if (Notification.permission !== 'granted') {
            Notification.requestPermission().then(permission => {
                if (permission === 'granted') {
                    displayNotification();
                }
            });
        } else {
            displayNotification();
        }

        function displayNotification() {
            const notification = new Notification('Notification', {
                body: message,
                icon: ''
            });
        }
    }

</script>