<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/home.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <div class="main">
            <div class="container limit option">
                <div>
                    <p class="text-title left">All Codes</p>
                    <a th:if="${auth != null && auth.isAdmin()}" th:href="'admin/'" class="button basic right">Admin page</a>
                    <a th:if="${auth != null}" th:href="'codes/create'" class="button basic right">Post Code</a>
                </div>
                <div>
                    <p class="result left" th:text="${filter.resultNumber() == 0 ? '0 result' : filter.resultNumber() + ' results'} +
                    ${filter.sortBy != '' ? ' sorted by ' + filter.sortBy : ''} +
                    ${auth != null && filter.sortBy == '' ? '' : ''}"></p>
                    <form th:action="@{/}" method="get">
                        <button th:if="${filter.sortBy != 'relevance'}" class="right button other order" th:name="sortBy" th:value="relevance">Relevance</button>
                        <button th:if="${filter.sortBy == 'relevance'}" class="right button other clicked order" th:name="sortBy" th:value="''">Relevance</button>
                        <button th:if="${filter.sortBy != 'newest'}" class="right button other order" th:name="sortBy" th:value="newest">Newest</button>
                        <button th:if="${filter.sortBy == 'newest'}" class="right button other clicked order" th:name="sortBy" th:value="''">Newest</button>
                        <input type="hidden" th:name="q" th:value="${filter.q}"/>
                        <input type="hidden" th:name="pageNumber" th:value="${filter.pageNumber}"/>
                    </form>
                </div>
            </div>
            <div th:each="code : ${filter.codes}">
                <div th:replace="codes/codePreview :: codePreview(classPage='container limit home')"></div>
            </div>
            <div th:replace="footer :: footer"></div>
        </div>
    </body>
</html>

